:root {
	--color: black;
	--background: #ddd;

	--body: 1rem;
	--heading: calc(2 * var(--body));
	--gutter: calc(3 * var(--body));
}

body {
	align-items: center;
	background-color: var(--background);
	block-size: 100vh;
	color: var(--color);
	display: grid;
	font-family: sans-serif;
	font-size: var(--body);
	grid-template-rows: min-content 1fr min-content;
}

header, footer {
	background-color: var(--color);
	color: var(--background);
	padding-block: var(--body);
	padding-inline: var(--gutter);
}

h1 { font-size: var(--heading); }

main {
	padding-block: var(--body);
	padding-inline: var(--gutter);
}

ul {
	display: grid;
	gap: var(--body);
}