:root {
	--color: white;
	--background: royalblue;

	--body: 1rem;
	--heading: calc(2 * var(--body));
	--gutter: calc(2 * var(--body));

	font-size: 110%;
	line-height: 133%;
	text-wrap: balance;

	@media (width > 600px) {
		--gutter: calc(4 * var(--body));

		font-size: 133%;
	}
}


body {
	background-color: var(--background);
	block-size: 100vh;
	color: var(--color);
	display: grid;
	font-family: sans-serif;
	font-size: var(--body);
	grid-template-rows: min-content 1fr min-content;
}

header, footer {
	background-color: color-mix(in srgb, var(--color) 20%, transparent);
	letter-spacing: 0.1em;
	padding-block: var(--body);
	padding-inline: var(--gutter);
	text-transform: uppercase;
}

h1 { font-size: var(--heading); }

main {
	align-self: center;
	padding-block: var(--heading);
	padding-inline: var(--gutter);
	display: grid;
	gap: var(--heading);
}

a {
	text-decoration: underline;
	text-underline-offset: 0.1em;
}

ul {
	display: grid;
	gap: var(--body);

	/* Nesting! */
	a {
		font-weight: bold;
		text-decoration: initial;
	}

	p { opacity: 50%; }
}