body {
    padding: 10vw;
}

header {
    margin-bottom: 20vh;
}

main {
    display: flex;
    flex-direction: column;
    row-gap: 10vh;
}

.frame {
    height: 50vh;
    background-color: deepskyblue;
    overflow: hidden;
}

.frame div {
    height: 200px;
    width: 300px;
    background: gold;

    border-radius: 50%;
    filter: blur(20px);
    margin-left: -50px;
}

figcaption {
    margin-top: 1em;
}

figcaption a {
    color: tomato;
}