:root {
    --spacing: 10vw;
    --aspect-ratio: 3 / 2;

    --blur: 1em;

    --left--shift: -20%;
}

body {
    padding: var(--spacing);
}

header {
    margin-bottom: calc(2 * var(--spacing));
}

main {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing);
}

.frame {
    height: calc(5 * var(--spacing));
    background-color: deepskyblue;
    overflow: hidden;
}

.frame div {
    aspect-ratio: var(--aspect-ratio);
    background: gold;

    border-radius: 50%;
    filter: blur(var(--blur));
    margin-left: var(--left--shift);
}

figcaption {
    margin-top: 1em;
}

figcaption a {
    color: tomato;
}