body {
    padding: 10vw;
}

header {
    margin-bottom: 20vh;
}

main {
    display: flex;
    flex-direction: column;
    row-gap: 10vh;
}

.frame {
    height: 50vh;
    background-color: deepskyblue;
}

figcaption {
    margin-top: 1em;
}

figcaption a {
    color: tomato;
}