@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=EB+Garamond:ital@0;1&display=swap');

body {
    color: slategray;
    font-family: 'EB Garamond', serif;
    font-size: 2em;
    padding: 2em;
}

h1 {
    color: black;
    font-size: 2em;
}

.alfa-slab-one {
    font-family: 'Alfa Slab One', serif;
}

.callout {
    color: tomato;
    font-size: 1.5em;
}

#tray {
    background-color: lightgray;
    margin-top: 1em;
    padding: 1em;
}

#tray summary {
    cursor: pointer;
}

#tray summary:after {
    content: ' +';
}

#tray[open] summary {
    color: darkgray;
}

#tray[open] summary:after {
    content: ' –';
}

#tray p:last-child {
    opacity: 0.5;
}